
@import url('https://fonts.googleapis.com/css?family=Bree+Serif&display=swap');


:root { font-family: 'Bree Serif', serif;
        font-weight:200; /*400 is standard*/}


body{
    color: darkorange;
}


/*header------------------------------------------------------------------------------------------------*/

header{
    display:flex; 
    flex-wrap:wrap;
     align-items:center;
   justify-content: space-around;
}

header div{
    display:flex;
    flex:1;
   
}

#name{
    justify-content: center;
   
}

#name h1 a{
    text-decoration: none;
    color:darkorange;
}

/* Navigation Bar ------------------------------------------------------------------------------------------------*/

nav{
    flex:2; 
    /*splitting navbar into thirds with header name*/
}

nav ul{
    display:flex;
    list-style-type: none;
    justify-content: center;
    margin:0;
    flex-wrap:wrap;
    padding:0;
}


nav ul li a{
    text-decoration: none;
    color:darkorange;
    padding:0 10px 0 10px;
    
}

nav a:hover{
    color:purple;
}


/* mainpic ------------------------------------------------------------------------------------------------*/
#mainpic{
    min-height: 600px;
    background:url('/img/mainpic2.jpeg') no-repeat;
    background-size:stretch;
    background-position:center;
}



/* main text------------------------------------------------------------------------------------------------*/

.main {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.main p{
    width:80%;
    text-align:center;
    margin:0;
    border:1px solid black;
}


/*footer ------------------------------------------------------------------------------------------------*/

footer{
    margin-top:3em;
    padding:1.5em;
    text-align: center;
    border:1px solid black;
}


/* BLOG  ------------------------------------------------------------------------------------------------*/


.blogwrapper{
    max-width:90%;
    display:grid;
    grid-template-columns: 2fr 1fr;
    /* grid-template-columns: repeat(auto-fit, minmax(30%vh,1fr)); */
    /*repeat */
    grid-gap:1em;
    /* grid-auto-rows: auto; */
    /* display:flex;
    flex-flow: column; */
    /* grid-auto-rows:minxmax(100px,auto); */
    /* justify-content:center; */
    /* align-content:center; */
    /* justify-items: stretch; */
    /* display:flex;
    flex-flow:column; */
  
}

.blogwrapper h2, .blogwrapper p{
    margin:0;
    padding:0;
    text-align:center;
}

.blogblock{
    background:#ccc;
    padding:2em;
    border-radius:1em;
    border-style:dashed;
    margin-bottom:5em;
}

.blogtext{
    padding-top:1em;
}

div .blogimg{
    display:flex;
    justify-content: center;
    /*images get centered*/
}

.blogimg img{
    /* display: block;
    margin-left: auto;
    margin-right: auto;*/
    max-width:500px;
    border-radius:4%;
}


/* Media Queries */

@media(max-width:980px){
    .blogwrapper{
        grid-template-columns: 1fr;
    }
}